<!DOCTYPE html>
  <html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>Télécommande</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Diane">
    <!-- <link rel="stylesheet" href="style/root.css">
    <link rel="stylesheet" href="style/style.css"> -->
  </head>

  <body>
    <div id="container">
        <button>UP</button>
        <button>RIGHT</button>
        <button>DOWN</button>
        <button>LEFT</button>
    </div>

    <!-- <script src=""></script> -->
  </body>
</html>