<!DOCTYPE html>
  <html lang="fr">

  <head>
    <meta charset="utf-8">
    <title>Télécommande</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Diane">
    <!-- On inclut la bibliothèque dans le document HTML -->
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <style>
        body {
            background: rgb(18, 16, 17);
        }
    </style>
    <div id="container">
    </div>

    <script>
        // on instancie un canal pour l'utilisateur
        let socket = io();

        let maxX; let maxY; let posX; let posY; let pace;
        // On récupère les données initiales du document robot
        socket.on('init data', (data) => {
            data = JSON.parse(data);
            maxX = parseInt(data.maxX);
            maxY = parseInt(data.maxY);
            posX = parseInt(data.posX);
            posY = parseInt(data.posY);
            pace = parseInt(data.pace);
        });


        // à la pression d'une touche
        document.addEventListener("keydown", (event) => {
            /**
             * On évalue la touche pressée dans un sens horaire
             * On utilise les flèches et les touches QZDS
             */

            switch(event.key) {
                // touche vers le haut
                case 'ArrowUp':
                case 'Z':
                case 'z':
                    // si on ne touche pas déjà le bord de la fenêtre
                    if (posY > 0) {
                        // on modifie la position y
                        posY = posY - pace;
                        // on màj la position du robot en CSS
                        socket.emit("moveY", posY);
                    }
                    // robot.style.animation = 'moveUp linear 3s forwards';
                    break;
                // touche vers la droite
                case 'ArrowRight':
                case 'D':
                case 'd':
                    // si on ne touche pas déjà le bord de la fenêtre
                    if (posX < maxX) {
                        // on modifie la position x
                        posX = posX + pace;
                        socket.emit("moveX", posX);
                    }
                    // robot.style.animation = 'moveRight linear 3s forwards';
                    break;
                // touche vers le bas
                case 'ArrowDown':
                case 'S':
                case 's':
                    // si on ne touche pas déjà le bord de la fenêtre
                    if (posY < maxY) {
                        // on modifie la position y
                        posY = posY + pace;
                        socket.emit("moveY", posY);
                    }
                    // robot.style.animation = 'moveDown linear 3s forwards';
                    break;
                // touche vers la gauche
                case 'ArrowLeft':
                case 'Q':
                case 'q':
                    // si on ne touche pas déjà le bord de la fenêtre
                    if (posX > 0) {
                        // on modifie la position x
                        posX = posX - pace;
                        socket.emit("moveX", posX);
                    }
                    // robot.style.animation = 'moveLeft linear 3s forwards';
                    break;
                // n'importe quelle autre touche
                default:
                    return;
            }                
        });

    </script>

  </body>
</html>